</br>
  </br>

  <h5 style="color: orange;">
  <%= @space %> : <%= @total %> Events and counting...
    </h5>

  <% @space_events.each do |event| %>
      <!-- <div class="event_cover"style="background-image: url(<%= event["cover"]["source"] unless event["cover"].nil?%>);">
    -->
    <b>
    <% @event_date = Time.parse(event["start_time"]) unless event["start_time"].nil? %> 
    <h3>
    <% @event_date > Time.now ?  @coming_up = true : @coming_up = false unless @event_date.nil? %>
    <%= @event_date > Time.now ? "ComingUp... " + Time.parse(event["start_time"]).strftime("%B %d, %Y")  :  "in the past... " + Time.parse(event["start_time"]).strftime("%B %d, %Y") unless @event_date.nil? %>
    </h3>
    </b>
    <% if @coming_up then %>
    <div class="event_cover_upcoming">
    <div class="bs-example" >
    <div class="list-group" >
    <a href="#" class="list-group-item active">
    <img src=<%= event["cover"]["source"] unless event["cover"].nil?%>>
    <h4 class="list-group-item-heading"><%= event["name"] %></h4>
    <h4 class="list-group-item-heading"><%= Time.parse(event["start_time"]).strftime("%B %d, %Y") unless event["start_time"].nil? %></h4>
    <p class="list-group-item-text"><%= event["description"] %></p>
    </a>
  <%else%>
<div class="event_cover">
    <div class="bs-example" >
    <div class="list-group" >
    <a href="#" class="list-group-item">
    <img src=<%= event["cover"]["source"] unless event["cover"].nil?%>>
    <h4 class="list-group-item-heading"><%= event["name"] %></h4>
    <h4 class="list-group-item-heading"><%= Time.parse(event["start_time"]).strftime("%B %d, %Y") unless event["start_time"].nil? %></h4>
    <p class="list-group-item-text"><%= event["description"] %></p>
    </a>
  <%end%>


    </div>
    </div>
    </div>
  <% end %>

  <!--
<=-%= @space_events  %>
  <-%= event[0]["name"] %>
  -->

  <!--
    <=% @result %>
<form action='/login/attempt' method='post' class="form-inline well">
  <input type="text" name='username' placeholder="username" autofocus>
  <input class="btn primary" type='submit' value='log in'>
</form>
-->
